In [14]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
from pathlib import Path

% matplotlib inline

In [125]:
def summarize_overlap(cellid):
    names = []
    with open(cellid+"_list") as f:
        line = f.readline().strip()
        while line:
            names.append(line)
            line = f.readline().strip()
    n_cells = len(names)
    print("Number of cells:\t", n_cells)

    df = pd.DataFrame(np.zeros([n_cells, n_cells]), index=names, columns=names)
    pairs = pd.DataFrame(columns=['Cell_1_length(uM)', 'Cell_2_length(uM)', '' 'Overlap_length(uM)'])
    n_pairs = 0;
    for i in names:
        for j in names:
            my_file = Path("overlap_stats/"+cellid+"/"+i+"_"+j+".txt")
            if my_file.is_file():
                tp = pd.read_csv(my_file, header=None, index_col=0, delimiter="\t", skiprows=[0,1])
                df.loc[i,j] = round(tp.loc["Total_length(overlap)", 1]/tp.loc["Total_length(input1)", 1]*100, 1)
                df.loc[j,i] = round(tp.loc["Total_length(overlap)", 1]/tp.loc["Total_length(input2)", 1]*100, 1)
                if ((df.loc[i,j]>10) | (df.loc[j,i]>10)):
                    pairs = pairs.append(pd.DataFrame([tp.loc["Total_length(input1)", 1], tp.loc["Total_length(input2)", 1],tp.loc["Total_length(overlap)", 1]], 
                                                      index=pairs.columns, columns=[i+"_"+j]).transpose())
                    

    row_sums = df.sum(axis=1)
    for i in names:
        row_sums[i] = min(100, row_sums[i])

    output = "Summary_"+cellid+".xls"
    writer = pd.ExcelWriter(output, engine='xlsxwriter')
    row_sums = row_sums.to_frame("(%)overlap")
    row_sums.to_excel(writer, sheet_name="Sample-wise")
    df.to_excel(writer, sheet_name="Pair-wise")
    pairs.to_excel(writer, sheet_name="Overlapping_pairs")
    writer.save()
    return [row_sums, df, pairs]

In [123]:
cellid = "17302"
row_sums, df, pairs = summarize_overlap(cellid)

Number of cells:	 107

In [124]:
pairs

  Cell_1 Cell_2 Overlap_length(uM)
0    001    002            848.985
0    001    003            204.337
0    001    005            284.251
0    001    008            1082.23
0    002    005            3751.21
0    002    007            163.404
0    002    009             2604.9
0    003    004            1007.75
0    003    007              602.6
0    003    009            3641.61
0    003    010            313.246
0    003    012            159.256
0    003    014             3117.3
0    004    005            472.327
0    004    007            1190.74
0    004    009            1011.42
0    004    011            213.555
0    005    007            329.177
0    005    008            345.178
0    005    009            2768.98
0    005    011            184.135
0    006    007            356.826
0    007    009            783.355
0    008    009            205.811
0    009    014            1773.31
0    011    012            126.515
0    012    042            608.338
0    014    045            614.211
0    016    042            1770.56
0    018    019            2688.04
0    028    029            16253.2
0    030    045            257.699

In [116]:
[[i],[j],["aaa"]]

[['125'], ['010'], ['aaa']]